*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    font-family: Cabinet Grotesk, serif;
    position: relative;
    min-height: 100vh;
    background: #F3F3F3;
    padding: 32px 40px 24px;
}

.container {
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 96px;

}

.content {
    display: flex;

}

.profile {
    display: flex;
    width: 229px;
    height: 138px;
}

/*header*/
.header {
    display: flex;
    align-items: center;
}

.header__info {
    display: flex;
    align-items: center;
    height: 40px;
}


.logo__content {
    width: 89px;
    height: 40px;
}

.header__date {
    width: 160px;
    height: 24px;
    margin-left: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.3px;

}

.user__avatar {
    width: 40px;
    height: 40px;
}
.user__avatar__img{
    width: 40px;
    height: 40px;
}

.user__img {
    width: 56px;
    height: 56px;
}


.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 421px;
    height: 40px;
    margin-left: auto;

}

.temp-switch {
    position: relative;
    width: 56px;
    height: 28px;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-radius: 20px;
    margin-right: 20px;
}

.switch__background {
    width: 100%;
    height: 100%;
    background: #FFF;
    border: 2px solid #7E7E7E;
    border-radius: 20px;
    box-sizing: border-box;
}

.temp-switch:hover .switch__background {
    border: 2px solid #000000;
}

.temp-btn {
    border-radius: 50%;
    position: absolute;
    height: 28px;
    width: 28px;
    border: none;
    background: transparent;
    color: #7E7E7E;
    font-weight: 700;
    font-size: 14px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.2s;
    z-index: 1;
}

.temp-btn__left {
    left: 0;
    top: 0;
}

.temp-btn__right {
    right: 0;
    top: 0;
}


/* активная — чёрный круг */
.temp-btn.active {
    background: #000000;
    color: #FFFFFF;

    /*transform: scale(1.08);*/
}
.toolbar__btn_add {
    font-weight: 700;
    line-height: 24px;
    width: 117px;
    height: 24px;
    font-size: 20px;
    margin-right: 12px;
    letter-spacing: 0.2px;

}

.toolbar__user {
    display: flex;
    align-items: center;
    width: 159px;
    height: 25px;
    justify-content: center;
    margin-right: 16px;

}

.user__name {
    font-family: Cabinet Grotesk, serif;
    font-weight: 700;
    font-size: 20px;
}

.user__name a {
    outline: none;
    text-decoration: none;
    color: inherit;
}
/*header_end*/
.weather-banner {
    display: flex;
    align-items: center;
    margin: 28px 40px 0 40px;
}

.weather-banner_temperature {
    width: 69px;
    height: 40px;
    margin-left: 16px;
    font-family: Cabinet Grotesk, serif;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;

}

.weather-banner {
    height: 80px;
    background-repeat: no-repeat;
    background-position: right top;
    border-radius: 8px;
}


.main_product {
    margin: 63px 0 0 116px;
}

.wardrobe {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px
}

.content__profile {
    display: flex;
    flex-direction: column;
    margin-top: 47px;
}

.content__avatar {
    display: flex;
    align-items: center;
    width: 229px;
    gap: 16px;
}

.user__photo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}





.content__name {
    font-family: Cabinet Grotesk, serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2px;
}

.content__menu {
    margin-top: 24px;
}

.content__menu_change-profile {
    font-family: Cabinet Grotesk, serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2px;
}

.content__menu_log-out{
    margin-top: 8px;
    font-family: Cabinet Grotesk, serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2px;
}

.section-header {
    display: flex;
    gap: 20px;
}

.section-header__title {
    font-family: Cabinet Grotesk, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.5px;
}

.section-header__action {
    font-family: Cabinet Grotesk, serif;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.6);
}

.section-header__action:hover {
    color: #000000;
    cursor: pointer;
}

/*.card__head {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.card {
    width: 325px;
    height: 328px;
    box-shadow: 0 0 0 1px #979797 inset;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E9E9E9;
}
.card_background_1 {
    background-image: url("../img/product/T-Shirt.png");
}

.card_background_2 {
    background-image: url("../img/product/Shorts.png");
}

.card_background_3 {
    background-image: url("../img/product/Cap.png");
}

.card_background_4 {
    background-image: url("../img/product/Sneakers.png");
}

.card_background_5 {
    background-image: url("../img/product/Sunglasses.png");
}

.card_background_6 {
    background-image: url("../img/product/photo-cap.png");
}

.card__head {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 15px;


}

.card__title {
    display: flex;
    align-items: flex-end;
    color: #00000099;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: #FFFFFF;
    padding: 2px 12px;
    border-radius: 4px;
}

.card__favorites {
    display: flex;
    align-items: center;
    height: 100%;
    border: none;
    transition: transform 0.2s ease;
    background: none;
}

.card__favorites img {
    content: url('/img/heart.png');
    width: 18px;
    height: 15px;
    border: none;
}

.card__favorites img:hover {
    content: url('/img/h_like.png');
}

.footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: calc(100% - 80px);
    background: #F3F3F3;
    height: 24px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.footer__title {
    font-family: Cabinet Grotesk, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;


}


/* модалка для изменения аватара*/
.modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
}

.modal[hidden] {
    display: none;
}

.modal__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.modal__dialog {
    position: relative;
    max-width: 496px;
    width: 100%;
    height: 304px;
    margin: auto;
    background: #fff;
    border-radius: 12px;
    padding: 24px;
    z-index: 1;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cabinet Grotesk, serif;
    font-weight: 700;
    font-size: 16px;
}

.modal__form input{
    width: 440px;
    height: 24px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    color: black;
}

.modal__form label{
    display: block;
    margin-top: 24px;
    color: black;
}

.modal__form button{
    max-width: 128px;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 4px;
    background: #000000;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 32px;
}


.modal__close {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 14px;
    height: 14px;

    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* общие стили для линий */
.modal__close::before,
.modal__close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;

    width: 16px;
    height: 2px;
    background-color: #B3B3B3;
    transform-origin: center;
}


.modal__close::before {
    transform: translateY(-50%) rotate(45deg);
}


.modal__close::after {
    transform: translateY(-50%) rotate(-45deg);
}

